[Match]
Name=brnat

[Network]
IPv4Forwarding=yes
DHCPServer=true
Address=10.20.30.40/24

[DHCPServer]
DNS=10.20.30.40
PoolOffset=100
PoolSize=100

[DHCPv4]
RouteMetric=200

[IPv6AcceptRA]
RouteMetric=200

# [DHCPServerStaticLease]
# MACAddress=52:54:e0:50:58:16
# Address=10.20.30.235
